.nav-bar {
  background-color: #81c784; 
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  grid-column: 1;
}

.nav-link {
  color: #fff; 
  text-decoration: none;
  padding: 8px 12px;
  margin-right: 10px;
  font-weight: bold;
}

.separator {
  color: #fff; 
}

.welcome {
  color: #000; 
  margin-right: 10px;
  grid-column: 2;

}

.logout {
  color: #fff; 
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #fff; 
  width: 150px;
  border-radius: 5px;
  grid-column: 3;
  justify-self: end;
}

.logout:hover {
  background-color: #fff; 
  color: #81c784; 
}
