.landing-page {
  padding: 20px;
  text-align: center;
}

.landing-page-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.landing-page-link{
  position: relative;
  top: 40px;
  color: #fff; 
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #fff; 
  width: 150px;
  border-radius: 5px;
}

.landing-page-link:hover{
  background-color: #fff; 
  color: #81c784; }

.logo{
  padding-top: 15px;
  width: 80px;
}

.landing-page-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

